@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.myskill li {
  cursor: pointer;
}

.skilltech ul li img {
  height: 50px;
  transition: all 0.3s ease-in-out;
  width: 110px;
}

.skilltech ul li img:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.background-moving {
  animation-name: backgroundMovingEffect;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes backgroundMovingEffect {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  50% {
    transform: translate3d(-30px, -30px, -30px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

.banner-particle-one {
  top: -60px;
  left: -80px;
  width: 70px;
  animation: floatUpDown 3s infinite ease-in-out;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.aboutImage img {
  height: 409px !important;
}

html {
  scroll-behavior: smooth;
}
